<div class="list-page">
  <header class="top-bar">
    <button class="add-contact" (click)="newContact()">+</button>
        <button
      class="action-btn"
      (click)="addRandom()"
      [disabled]="loadingRandom"
    >
      ?
    </button>
  </header>

  <div class="message" *ngIf="randomMessage">
    {{ randomMessage }}
  </div>

  <!-- Sectioned List -->
  <div class="sections">
    <ng-container *ngFor="let group of grouped">
      <div class="section-header">{{ group.letter }}</div>
      <ul class="contact-list">
        <li *ngFor="let c of group.items" (click)="goToDetail(c._id!)">
          <img [src]="c.picture" class="avatar" alt="avatar" />
          <div class="info">
            <div class="name">{{ c.name }}</div>
            <div class="sub">{{ c.email }}</div>
          </div>
        </li>
      </ul>
    </ng-container>
  </div>

  <p *ngIf="contacts.length === 0" class="empty">No contacts yet. Add some!</p>
</div>